#content{
    width:50%;
    margin:20px auto;
    border:1px solid white;
}
form{
    width:50%;
    margin:20px auto;

}
form div{
    margin-top:5px;
}
#img_div{
    width:80%;
    padding:5px;
    margin:15px auto;
    border: 1px solid white;

}
#img_div:after{
    content:'';
    display:block;
    clear:both;
}
img{
    float:left;
    margin:5px;
    width:300px;
    height:140px;
}







.imageuploader{
    display:none;
}
body{
    background-color:white;
    color: white;
    font-family:helvetica neue,Helvetica,Arial;
    margin:0;
    padding:0;
    
 

}
header{
    background-color:black;
    background-image:url("downloaded photos/store-984393__480.jpg");
    padding:20px;
    height: 300px;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
  
    
}
.market-header{
    background-color:black;
    background-image:url("downloaded photos/IMG-20190514-WA0019.jpg");
    background-size:100%;
    
    background-position:center;
    padding:20px;
    height: 350px;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
  
    
}
.about-header{
    background-color:black;
    background-image:url("downloaded photos/fashion-1536967__480.jpg");
    padding:20px;
    height: 300px;
    text-align: center;
    text-transform: uppercase;
    list-style-type:none;
  

}
/* logo styles*/
header .logo a{
    background-image: url("logo.png");
    background-position:center;
    background-size:300px;
    background-repeat:no-repeat;  
    display:inline-block;
    height:300px;
    
    position: relative;
    border-radius: 50%;
    text-indent: -99999999px;
    width: 400px;
    top:-30px
}
header .mobile{
    display:none;
}
 

/* navigation styles*/
nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
    
   
}
nav li{
    display:inline-block;
    margin-right:20px;
 
}
nav a{
    text-decoration: none;
    color:white;
 
}
 nav a:hover,
 nav a:focus{
    color:rgb(139, 133, 133);
}

/*.footer styles*/
.footer{
    list-style-type: none;
    display:inline-block;
}

 /*FEATURES*/

.features{
    
    background-color:rgb(185, 210, 241);
    color:gray;
    padding:20px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
   
   
}
.features  figure {
   margin:auto;
   width:200px;
   height:300px;
   text-transform: uppercase;
  
}

 .features figure img {
    border-radius:50%;
    box-shadow: gray 0 0 10px;
    width:200px;
   height:auto;
   
}
.features figure img:hover{
    border-radius: 0%;
    height:200px;
    width:200px;   
    position:absolute;
    size: 100%;
   

}
/*about section*/
.container{
    background-color:black;
}
.container-about{
    margin:0 auto;
    width:95%;
}
.container-about-textbox{
    
    background-color:rgb(53, 52, 52);
    color:white;
    padding:3em;
    width:79vw;
    margin-left:-2.5%;
    outline: 2px solid green;
    outline-offset: -2em;
}
.container-about-textbox h1{
    color:rgb(85, 233, 85);
    margin-top:-5em;
    position:absolute;
    top:14em;
    background-color:rgb(53, 52, 52);
    left:50%;
    transform:translateX(-50%);

   
    
}

.share-holders{
    height:700px;
    background-color:rgb(196, 194, 194);
    
  
}
.share-holders h2{
    text-align:center;
    top:3em;

  
}
.share-holders h1{
    text-align:center;
    color:rgb(43, 188, 224);
    text-transform: uppercase;
    font-weight: 50;

  
}
.button{
    
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:green;
  
}
.button:hover,
.button:focus{
    
    font-weight: 600;
    background-color: rgb(245, 241, 241);
   
}
.button2{
    text-decoration: none;
    color:white;
    background-color: rgb(84, 84, 230);
    border-width: 2px;
    border-color: rgb(84, 84, 230);
    border-style:solid;
    position: absolute;
    margin-left:50%;
    transform:translateX(-50%);
    top:33em;
}
.button2:hover{
    color:blue;
}

.share-holders{
    height:auto;
    background-image:url("downloaded photos/shoes-2425122__480.jpg")
  
}
.share-holders figure{
    display:inline-block;
    height:auto;
}
 
.share-holders-figure figure img{
    color:rgb(0, 255, 128);
    border-radius:50%;
    height:200px;
    width:200px;
    margin-left:50%;
    transform:translatex(-50%);

}

  
footer{
    background-color:black;
    padding:20px;
    text-align:center;
    height:500px;

}
/*RESPONSIVE SETTINGS*/
@media screen and (max-width:864px){
    header .mobile{
        display:inline-block;
      }  
      header .desktop{
          display:none;
      }
    .features{
        background:rgb(191, 206, 247);
    }
    header{
        height:300px;
    }
 
 }
 @media screen and (min-width:807px){
h1{
    font-size:2.5rem;
}
.container{
    background-image:url("IMG-20190514-WA0027.jpg");
    background-position: center;
    background-size:100%;
   background-repeat: no-repeat;
    height: 400px;
}
.container-about{
    
    margin:0 auto;
    width:95%;
    
}

.container-about-textbox{
   width:40vw;
   margin-left:-2.5%;
   
}
.container-about-textbox h1{
    color:rgb(85, 233, 85);
    margin-top:-0.1em;
    position:absolute;
    top:9.1em;
    background-color:rgb(53, 52, 52);
    left:25%;
    transform:translateX(-50%);
    
}
}
 
 .breaker{
     background-color:rgb(134, 131, 131);
     list-style-type: none;
     height:10px;
 }

.home-director{
    background-image:url("downloaded photos/online-shopping-2650383__480.jpg");
    background-color:rgb(201, 192, 192);
    height:605px;
    list-style-type:none; 
    
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
    
}
.home-director h1{
    color:rgb(1, 29, 80);
    position:absolute;
    margin-left:50%;
    transform:translateX(-50%);
    top:20em;
    text-transform: uppercase;
    
    
    
}

.button1 {
    background-color:rgb(201, 201, 145);
    color:rgb(82, 82, 70);
    text-decoration: none;
    position:absolute;
    border-width:3px;
    border-style:solid;
    margin-left:50%;
    transform:translateX(-50%);
    top:65em;
    text-transform: uppercase;
    
    
}
.button1:hover,
.button1:focus{
    color: rgb(255, 0, 0);
}
 /*go to market responsive*/
@media screen and (max-width:1062px){
    .home-director{
        background-image:url("downloaded photos/online-shopping-2650383__480.jpg");
        background-color:rgb(49, 48, 48);
        height:600px;
        list-style-type:none; 
        background-position:center;
        background-repeat: no-repeat;
        background-size:100%;
        
    }
    
    .home-director h1{
        color:rgb(1, 29, 80);
        position:absolute;
        margin-left:50%;
        transform:translateX(-50%);
        top:26em;
        text-transform: uppercase;
       font-weight: 100;
      
    }
    
    .button1 {
        background-color:rgb(120, 114, 134);
        color:rgb(247, 247, 19);
        text-decoration: none;
        position:absolute;
        border-width:3px;
        border-style:solid;
        margin-left:50%;
        transform:translateX(-50%);
        top:82em;
        text-transform: uppercase;
        
    }
}
@media screen and (max-width:995px){
    .home-director{
        background-image:url("downloaded photos/online-shopping-2650383__480.jpg");
        background-color:rgb(49, 48, 48);
        height:500px;
        list-style-type:none; 
        background-position:center;
        background-repeat: no-repeat;
        background-size:100%;
        
    }
    .home-director h1{
        color:rgb(1, 29, 80);
        position:absolute;
        margin-left:50%;
        transform:translateX(-50%);
        top:24em;
        text-transform: uppercase;
        font-weight: 100;
      
    }
    
    .button1 {
        background-color:rgb(120, 114, 134);
        color:rgb(247, 247, 19);
        text-decoration: none;
        position:absolute;
        border-width:3px;
        border-style:solid;
        margin-left:50%;
        transform:translateX(-50%);
        top:82em;
        text-transform: uppercase;
        
    }
    
}
@media screen and (max-width:807px){
    .home-director{
        background-image:url("downloaded photos/online-shopping-2650383__480.jpg");
        background-color:rgb(49, 48, 48);
        height:415px;
        list-style-type:none; 
        background-position:center;
        background-repeat: no-repeat;
        background-size:100%;
        
    }
    .home-director h1{
        color:rgb(1, 29, 80);
        position:absolute;
        margin-left:50%;
        transform:translateX(-50%);
        top:24em;
        text-transform: uppercase;
        font-weight: 600;
      
    }
    
    .button1 {
        background-color:rgb(120, 114, 134);
        color:rgb(247, 247, 19);
        text-decoration: none;
        position:absolute;
        border-width:3px;
        border-style:solid;
        margin-left:50%;
        transform:translateX(-50%);
        top:80em;
        text-transform: uppercase;
        
    }
}
@media screen and (max-width:672px){
    .home-director{
        background-image:url("downloaded photos/online-shopping-2650383__480.jpg");
        background-color:rgb(49, 48, 48);
        height:375px;
        list-style-type:none; 
        background-position:center;
        background-repeat: no-repeat;
        background-size:100%;
        
    }
    .home-director h1{
        color:rgb(1, 29, 80);
        position:absolute;
        margin-left:50%;
        transform:translateX(-50%);
        top:24em;
        text-transform: lowercase;
        font-weight: 500;
        
      
    }
    
    .button1 {
        background-color:rgb(120, 114, 134);
        color:rgb(247, 247, 19);
        text-decoration: none;
        position:absolute;
        border-width:3px;
        border-style:solid;
        margin-left:50%;
        transform:translateX(-50%);
        top:80em;
        text-transform: uppercase;
        
    }
   
}
@media screen and (max-width:656px){
    .home-director{
        background-image:url("downloaded photos/online-shopping-2650383__480.jpg");
        background-color:rgb(49, 48, 48);
        height:375px;
        list-style-type:none; 
        background-position:center;
        background-repeat: no-repeat;
        background-size:100%;
        
    }
    .home-director h1{
        color:rgb(1, 29, 80);
        position:absolute;
        margin-left:50%;
        transform:translateX(-50%);
        top:31em;
        text-transform: lowercase;
        font-weight: 300;
        
      
    }
    
    .button1 {
        background-color:rgb(120, 114, 134);
        color:rgb(247, 247, 19);
        text-decoration: none;
        position:absolute;
        border-width:3px;
        border-style:solid;
        margin-left:50%;
        transform:translateX(-50%);
        top:97em;
        text-transform: uppercase;
        
    }
   
}
/*market shoes styles*/
.market-shoes{
    background-color:white;
    color:gray;
    padding:20px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
    
}
.market-shoes figure{
    color:gray;
    margin:15px;
    width:200px;
    text-transform: uppercase;

}
.market-shoes figure img{
   height:200px;
    box-shadow: rgb(167, 165, 165) 0 0 10px;
    width:200px;
 
}




/*shareholders responsive designs*/
@media screen and (min-width:500px){
  
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
     
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:175px;
        width:175px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:39em;
      
        
        
    }
}
@media screen and (min-width:650px){
  
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
     
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:225px;
        width:225px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:39em;
      
        
        
    }
}
@media screen and (min-width:684px){
    .button2{
        top:38em;
       
    }
}


@media screen and (min-width:720px){
   
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
     
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:250px;
        width:250px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
       .button2{
            top:38em;
           
            
            
        }
    
}
@media screen and (min-width:745px){
  
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
     
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:275px;
        width:275px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
       .button2{
            top:38em;
           
            
            
        }
    
}
@media screen and (min-width:795px){

    .button2{
        top:37em;
       
        
        
    }
}
@media screen and (min-width:806px){
    
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:400px;
        width:400px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:81em;
    }
}
@media screen and (min-width:986px){
    
    
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:400px;
        width:400px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
@media screen and (min-width:1100px){
    
    
    .share-holders figure{
        
        display:inline-block;
        height:auto;
    }
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:450px;
        width:450px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
@media screen and (min-width:1200px){
    
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:500px;
        width:500px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
@media screen and (min-width:1300px){
    
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:550px;
        width:550px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}

@media screen and (min-width:1400px){
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:600px;
        width:600px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}

@media screen and (min-width:1500px){
   
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:650px;
        width:650px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
@media screen and (min-width:1600px){
   
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:700px;
        width:700px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
@media screen and (min-width:1700px){
   
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:750px;
        width:750px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
@media screen and (min-width:1800px){
   
    
    .share-holders-figure figure img{
        color:rgb(0, 255, 128);
        border-radius:50%;
        height:800px;
        width:800px;
        margin-left:50%;
        transform:translatex(-50%);
      
    }
    .button2{
        top:49em;
    }
}
 /*profile settings for ceo*/

 h1{
    font-size:2.5rem;
    text-transform: uppercase;
}
.container-profile{
  
    background-position: center;
    background-size:100%;
   background-repeat: no-repeat;
    height: 160px;
}
.container-profile-about{
    background-image:url("shirts-428627__480.jpg");
    background-color: black;
    margin-left:.7%;
    width:49%;
    height:660px;
    outline-offset: -8px;
    
}

.container-profile-about-textbox{
   position:absolute;
   top:39em;
   width:40vw;
   margin-left:1.5%;
   
}
.container-profile-about-textbox h1{
    color:rgb(85, 233, 85);
    margin-top:0;
    position:absolute;
    top:-6.5em;
    left:48%;
    transform:translateX(-50%);
    
}
.container-profile-about-textbox figure img{
    position: absolute;
    top:-12.5em;
    color:rgb(0, 255, 128);
    border-radius:50%;
    height:200px;
    width:200px;
    margin-left:48%;
    transform:translatex(-68%);
  
}
 /*profile settings for chairman*/
h1{
    font-size:2.5rem;
    text-transform: uppercase;
  
}
.container-profile2{
    
    background-position: center;
    background-size:100%;
   background-repeat: no-repeat;
    height: 500px;
  
}
.container-profile2-about{
    background-image:url("shirts-428627__480.jpg");
    
    position: absolute;
    top:21.9em;
    background-color:black;
    margin-left:50%;
    width:49%;
    height:660px;
    outline-offset: -8px;
    
}

.container-profile2-about-textbox{
    position:absolute;
   top:17.5em;
   width:40vw;
   margin-left:3.5%;
   
}
.container-profile2-about-textbox h1{
    color:rgb(85, 233, 85);
    margin-top:-6.7em;
    position:absolute;
    top:.2em;
    left:55%;
    transform:translateX(-55%);
    
}
.container-profile2-about-textbox figure img{
    position: absolute;
    top:-12.6em;
    color:rgb(0, 255, 128);
    border-radius:50%;
    height:200px;
    width:200px;
    margin-left:48%;
    transform:translatex(-65%);
}

/*profile buttons*/
.button3{
    position:absolute;
    text-decoration: none;
    color:rgb(243, 156, 156);
    top:-1em;
    margin-left:80%;
    outline:2px solid rgb(243, 156, 156);
    font-weight:1000;
}
.button3:hover{
    background-color:rgb(170, 243, 192);
}
.button4{
    position:absolute;
    text-decoration: none;
    color:rgb(243, 156, 156);
    top:-1em;
    margin-left:80%;
    outline:2px solid rgb(243, 156, 156); 
    text-decoration: none;
    font-weight:1000;
   
}
.button4:hover{
    background-color:rgb(170, 243, 192);
}

li input{
    display:none;
}
li.edit span {
    display:none;
}
li.edit input {
    display:initial;
}